body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande','Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    height: auto;
    padding: 5em 2em;
    font-size: 2em;
    background-image:url("../imgs/fondo.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: black;
}
.header h1{
    margin: 0px;
    font-weight: 400;
}
.products{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em 0;
}
.product {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    padding: 1em;
}
.product img{
    width: 50%;
    max-width: 200px;
    border: solid 1px #ddd;
    border-radius: 4px;
    object-fit: cover;
}
.product-info{
    width: 50%;
}
.footer{
    height: 3em;
    line-height: 3em;
    background-color: rgb(185, 112, 41);
    color: white;
    text-align: center;
    font-weight: 900;
}

@media (max-width: 768px) {
    .product {
        flex-direction: column;
        text-align: center;
    }

    .product img, .product-info {
        width: 100%;
    }

    .header {
        font-size: 1.5em;
        padding: 3em 1em;
    }
}